.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0px 20px 25px 0px rgba(219,166,166,0.5);
}

.fighter-preview___info {
  padding-top: 15px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  color: #254140;
}

.fighter-preview___img {
  display: block;
  margin: 0 auto;
  height: 250px;
}

.fighter-preview___right .fighter-preview___img {
  transform: scale(-1, 1);
}